html, body { 
    height: 100%; 
    margin: 0;
}

body { display: flex; 
    justify-content: center; 
    align-items: center; 
}

#container {
    background-color: lightgray; 
    height: 70%; 
    width: 30%; 
}

.display-screen {
    text-align: right;
    font-size: 3em;
    width: 90%;
    margin: 5vh auto;
    padding: 6vh 0.5vw 0 0.5vw;
    background-color: rgb(125, 175, 125);
}

#keypad-container {
    display: flex;
    flex-direction: row;
}

#number-pads .row-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8%;
}




#operator-pads {
    display: flex;
    flex-direction: column;
}