html, body { 
    height: 100%; 
    margin: 0;
    text-align: center;
}

body { display: flex; 
    justify-content: center; 
    align-items: center; 
}

#container {
    background-color: lightgray; 
    height: 70%; 
    width: 30%; 
}

#display-screen {
    text-align: right;
    font-size: 4em;
    color: black;
    width: 90%;
    height: 8%;
    margin: 5vh auto;
    padding: 6vh 0.5vw 0 0.5vw;
    background-color: rgb(125, 175, 125);
}

#display-screen::placeholder {
    color: black;
}

#keypad-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    margin: auto;
    gap: 1%;
}

#keypad-container button {
    width: 6vw;
    height: 9vh;
    font-size: 1.4em;
    padding: 1.2em;
}

#number-pads, #operator-pads {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
